<ol>
  <li><%= link_to "Index", landing_index_path%></li>
  <li><%= link_to "About", landing_about_path%></li>
  <li><%= link_to "Contact", landing_contact_path%></li>
  <li><%= link_to "Blog", blogs_path%></li>
</ol>
